.infinite-scroll-component {
    overflow: hidden !important;
}

.loader-container {
    min-height: 200px; /* Ensure there is always space reserved for the loader */
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}