
@media screen and (max-width: 900px) {
    .card-box{
        width: 29% !important;
        height: auto !important;
    }
    .card-image-box{
        height: auto !important;
    }
}
@media screen and (max-width: 768px) {
    .card-box{
        width: 33% !important;
        height: auto !important;
    }
    .card-image-box{
        height: auto !important;
    }
}

@media screen and (max-width: 500px) {
    .card-box{
        width: 48% !important;
        height: auto !important;
    }
    .card-image-box{
        height: auto !important;
    }
}
