
@media screen and (min-width: 1023px) {
    .card-box{
        width: 22% !important;
        height: auto !important;
    }
    .foot-box{
        width: 22% !important;
    }
   
}

@media screen and (max-width: 1023px) {
    .card-box{
        width: 32% !important;
        height: auto !important;
    }
    .foot-box{
        width: 22% !important;
    }
   
}
@media screen and (max-width: 767px) {
    .card-box{
        width: 24% !important;
        height: auto !important;
        
       
    }
    .foot-box{
        width: 48% !important;
    }
   
}
@media screen and (max-width: 690px) {
    .card-box{
        width: 31% !important;
        height: auto !important;
       
    }
    .foot-box{
        width: 48% !important;
    }
   
}

@media screen and (max-width: 500px) {
    .card-box{
        width: 47% !important;
        height: auto !important;
    }
    .foot-box{
        width: 100% !important;
    }
   
}
